*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 90vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(#171456, #000,#000, #171456);
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    text-align: center;
}
#container::before{
    margin-left: -140px;
    margin-top: 0px;
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100%);
    height: calc(100%);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 15px;
    animation: AnimarBorda 35s linear;
}
#container::after{
    margin-left: -200px;
    margin-top: -192px;
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100%);
    height: calc(100%);
    background: linear-gradient(45deg, #ffff00,  #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 15px;
    filter: blur(100px);
    animation: AnimarBorda 25s linear;
}
@keyframes AnimarBorda{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}
#container img{
    background-image: linear-gradient(120deg,rgb(0, 0, 0), white, rgba(0, 0, 0, 0.5));
    border-radius: 30px;
    margin-top: -60px;
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
}
label{
    display: block;
    cursor: pointer;
}
fieldset{
    margin-left: 75px;
    border: 10px ridge #a200ff07;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}
legend{
    margin-bottom: 20px;
}
#labelSenha{
    margin-top: 20px;
}
#botaoAcesso{
    margin-top: 20px;
    margin-left: 75px;
    width: 70px;
    height: 40px;
    background-color: #a200ff10;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px ridge #a200ff3a;
    border-radius: 15px;
}
label{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.75);
}

input[type="text"], input[type="password"]{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px ridge rgba(0, 0, 0, 0.15);
    height: 25px;
    width: 95%;
}
#proFieldset{
    text-align: start;
}